<% layout('layouts/boilerplate'); %>

<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks awesome.
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    Looks awesome.
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Url</label>
                <input type="text" class="form-control" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    Looks awesome.
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="price-label">$</span>
                    </div>
                    <input type="text" class="form-control" id="price"
                        aria-describedby="price-label" placeholder="1.12" name="campground[price]" required>
                        <div class="valid-feedback">
                            Looks awesome.
                        </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>
    </div>
</div>
